.auth-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.auth-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    margin-top: 80px;
}

/* Top */

.auth-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.auth-title {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0;
}

.auth-title h3 {
    font-size: 22px;
    margin: 0;
}

.auth-title svg {
    width: 22px;
    height: 22px;
}

.auth-top p {
    font-size: 16px;
    text-align: center;
}

/* Register */

.auth-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.auth-button {
    padding: 8px 20px;
    border-radius: 4px;
    color: #000;
    border: rgba(0, 0, 0, .1) solid 1px;
    background-color: #fff;
    width: 100%;
    font-size: 13px;
    margin: 10px 0 0 0;
    cursor: pointer;
}

.input-text {
    width: 90%;
    font-size: 13px;
    padding: 8px 20px;
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, .1);
    margin: 3px 0;
}

.input-checkbox {
    width: 14px;
    height: 14px;
}

.terms-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 6px;
    width: 100%;
    font-size: 13px;
    margin: 10px 0;
}

.terms-container span {
    margin-top: 2px;
}

.terms-a {
    color: #0A84FF;
    text-decoration: none;
}

.terms-a:hover {
    color: #0272e2;
    cursor: pointer;
}

.or-line {
    margin: 20px 0 -10px 0;
    font-size: 13px;
}

/* Providers */

.providers-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
}

.providers-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    padding: 8px 20px;
    font-size: 14px;
    width: 100%;
    color: #000;
    border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, .1);
}

.providers-container button:hover {
    cursor: pointer;
    background-color: #f8f8f8;
}

.providers-container button img {
    width: 20px;
    height: 20px;
}