.cabins-page-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    width: 100%;
    min-height: 100vh; 
    padding-top: 80px; 
}

.cabins-page-content {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cabins-page-content {
    margin-top: 0;
}

.cabin-innhold {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 40px 0;
    height: calc(100vh - 200px);
}

.cabin-filters {
    position: sticky;
    top: 100px; 
    width: 400px;
    align-self: flex-start;
    height: fit-content;
}

.cabin-filters-title {
    margin: 20px 20px 0 20px;
    font-size: 24px;
}

.cp-title {
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 10px 0;
}

.cp-description {
    font-size: 16px;
    text-align: center;
    margin: 0 0 20px 0;
}

.cabins-list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    gap: 20px;
    overflow-y: auto;
    padding-right: 10px;
    max-height: 80vh; 
}

.cabins-list::-webkit-scrollbar {
    width: 8px;
}

.cabins-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.cabins-list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 900px) {
    .cabin-innhold {
        flex-direction: column;
        width: 90%;
        align-items: center;
        gap: 0;
        height: auto; 
    }

    .cabin-filters {
        position: static;
        width: 97%;
    }

    .cabins-list {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        max-height: none;
        overflow-y: visible;
    }
}