.cabins-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.cabins-page-content {
    margin-top: 100px;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.cabin-innhold {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 40px 0;
}

.cabin-filters {
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, .1);
    padding: 5px 5px 15px 5px;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 30%;
    margin: 5px 0;
}

.cabin-filters-title {
    margin: 20px 20px 0 20px;
    font-size: 24px;
}

.cp-title {
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 10px 0;
}

.cp-description {
    font-size: 16px;
    text-align: center;
    margin: 0 0 20px 0;
}

.cabins-list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin-top: 5px;
    gap: 20px;
}

@media screen and (max-width: 900px) {
    .cp-description {
        width: 70%;
    }

    .cabin-innhold {
        flex-direction: column;
        width: 90%;
        align-items: center;
        gap: 0;
    }

    .cabin-filters {
        width: 97%;
    }

    .cabins-list {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}