.cabin-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.cabin-info-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 90px 0 30px 0;
    max-width: 1400px;
}

.no-cabin-found {
    color: #000;
    font-size: 16px;
    margin: 100px 0 0 0;
    width: 100%;
    text-align: center;
}

/* ci images */

.ci-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 500px;
}

.ci-image-1 {
    border-radius: 8px;
    width: 60%;
    height: 100%;
}

.ci-images div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    height: fit-content;
}

.ci-image-2 {
    width: 100%;
    border-radius: 8px;
    height: 240px;
}

/* ci-cabin-info */

.ci-info {
    width: 100%;
    display: flex;
    align-items: stretch; 
    justify-content: space-between;
    margin-top: 20px;
}

.ci-cabin-info {
    width: 60%;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.ci-title-tags {
    display: flex;
    align-items: end;
    justify-content: start;
    gap: 12px;
}

.ci-name {
    font-weight: 400;
    font-size: 38px;
    margin: 10px 0;
}

.ci-tags {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 3px;
}

.ci-tags p {
    font-size: 13px;
    padding: 2px 5px;
    border-radius: 4px;
    color: #000;
}

.ci-amenities {
    border: solid 1px rgba(0, 0, 0, .1);
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 18px;
}

.ci-amenities-titel {
    margin: 10px 0 20px 0;
    font-weight: 400;
    font-size: 20px;
}

.line {
    background-color: rgb(0, 0, 0, .1);
    width: 100%;
    height: 1px;
}

.ci-amenities-grid {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
}

.ci-amenities-grid p {
    color: rgba(0, 0, 0, .7);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.ci-amenities-grid p svg {
    width: 16px;
    height: 16px;
}

/* ci cabin reserve */

.ci-cabin-reserve {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 32%;
    border-radius: 4px;
    border: rgba(0, 0, 0, .1) solid 1px;
}

.ci-cabin-reserve-content {
    margin: 10px 0;
    width: 90%;
}

.ci-reserve-title {
    margin: 10px 0;
    font-weight: 400;
    font-size: 20px;
}

.cabin-info-max-guests {
    font-size: 13px;
    margin: 20px 0 10px 0;
}

.cabin-info-price {
    font-size: 14px;
    font-weight: 500;
    color: #007B55;
    margin: 0;
}

/* Cabin calender */

.cabin-calender {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.cabin-content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    padding: 30px 0;
}

.cabin-calender-title {
    font-size: 24px;
    text-align: left;
}

@media screen and (max-width: 900px) {
    .ci-images {
        height: 100%;
        flex-direction: column;
        margin-bottom: -20px;
    }

    .ci-images div {
        flex-direction: row;
        width: 47%;
    }

    .ci-image-2 {
        width: 100%;
        height: 140px;
    }

    .cabin-info-content {
        width: 90%;
    }
    
    .cabin-info-top {
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }

    .ci-cabin-reserve {
        width: 100%;
    }

    .ci-cabin-info {
        width: 90%;
        margin: 20px 0;
    }

    .cabin-info-content {
        justify-content: center;
        margin-top: 75px;
    }

    .ci-info {
        flex-direction: column;
    }

    .ci-amenities-grid {
        flex-wrap: wrap;
        gap: 20px;
    }

    .ci-amenities-grid p {
        margin: 10px 0;
    }

    .cabin-info-content img {
        width: 100%;
    }

    .cabin-info-top-right {
        width: 100%;
    }

    .cabin-info-top-title-tags h3 {
        font-size: 24px;
    }

    .cabin-tags {
        margin-bottom: 6px;
    }

    .cabin-image {
        height: 200px;
    }

    .cabin-content {
        width: 90%;
    }

    .cabin-calender-title {
        font-size: 24px;
    }
}