.header-container {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 52px;
    z-index: 800;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
}

/* Header content */

.header-logo {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

.header-dock {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-dock a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
}

.ham-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

@media screen and (max-width: 1080px) {
    .header-content {
        width: 90%;
        padding: 0;
    }

    .language-head {
        display: none;
    }

    .language-dock {
        display: block;
    }

    .header-socials a span {
        display: block;
        padding: 0;
        margin-bottom: -2px;
    }

    .header-socials a {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .header-socials svg {
        width: 18px;
        height: 18px;
    }

    .ham-btn {
        display: block;
    }

    .header-dock {
        position: absolute;
        top: 52px;
        right: 0;
        width: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px 0;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 5px 5px;
    }

    .header-dock.open {
        display: flex;
    }

    .header-dock a {
        font-size: 16px;
        padding: 10px 0;
        width: 90%;
        text-align: center;
        border-bottom: solid 1px rgba(0, 0, 0, .1);
    }
}