.user-block-container {
    position: relative;
    display: inline-block;
}

.user-block {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.user-block img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.user-block-name {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.user-block-select {
    position: absolute;
    top: 110%;
    left: 0;
    width: 160px;
    font-size: 14px;
    border-radius: 8px;
}

.user-block-select option {
    padding: 8px 12px;
    cursor: pointer;
}

.user-block-select option:hover {
    background-color: rgb(246, 246, 246);
}